$textColor: blue;

.section {
    background: lightcyan;
    padding: 1rem;
    line-height: 1.5;
    &__article {
        background: lightgray;
        color: $textColor;
    };
    &__header {
        color: hotpink;
        font-family: 'Anton', sans-serif;
        &::after {
            content: "🌝";

        }
    }

}